{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div >
    <h1>Hello </h1>

    {% for article in article_list %}
        <li>
            <a href="{{ path('app_product', { "id" : article.id}) }}">{{ article.afficherArticle() }}</a>  
        </li>
    {% endfor %}
    
</div>
{% endblock %}
